<main>
    <div id="registerFormCard">
        <h1>Registrar nuevo usuario</h1>
        <form id="registerForm">
            <label for="name">Nombre</label>
            <input type="name" name="name">
            <br>
            <label for="surname">Apellido</label>
            <input type="text" name="surname">
            <br>
            <label for="email">Email</label>
            <input type="email" name="email">
            <br>
            <label for="password">Contraseña</label>
            <input type="password" name="password">
            <br>
            <input type="submit" value="Iniciar Sesion">
        </form>
    </div>
</main>
<script src="/js/register.js"></script>